<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>SwiftVersion</key>
	<string>4.2</string>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>SPITRO</string>
	<key>Description</key>
	<string>Stroboscopic effect</string>
	<key>ContentIdentifier</key>
	<string>com.nomedoseuprojeto</string>
	<key>DeploymentTarget</key>
	<string>ios10.3</string>
	<key>ImageReference</key>
	<string>logo.png</string>
	<key>Chapters</key>
	<array>
		<string>Chapter1.playgroundchapter</string>
	</array>
</dict>
</plist>
